@import "../theme-variable.scss";
header{
    .navbar{
        background-color: $color-5 !important;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

        .navbar-brand{

            color: $color-1 !important;
        }
    }
}

@media (max-width:767px){
    header{
        .navbar{
            .navbar-brand{
                img{
                    width: 180px;
                }
            }
        }
    }
}