@import "./theme-variable.scss";

body {
    background-color: $color-5;
    color: $font-color;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: black;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

a {
    text-decoration: none;
    color: $color-1;
}



.btn-primary {
    background-color: $button-primary-background-color;
    color: $button-primary-text-color;
    border-radius: $button-primary-border-radius;
    outline: none;
    padding: 8px 20px;
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.btn-secondary {
    background-color: $button-secondary-background-color;
    color: $button-secondary-text-color;
    border-radius: $button-secondary-border-radius;
    outline: none;
    padding: 8px 20px;
    border: 1px solid $button-secondary-border-color;
    display: inline-flex;
    align-items: center;
    gap: 10px;

    &:hover {
        background-color: $button-secondary-hover-background-color;
        color: $button-secondary-hover-text-color;
    }
}


.inner-wrapper {
    padding-top: $spacing-top;
    padding-bottom: $spacing-botom;
}

.content-wrapper {
    margin-top: $content-spacing
}

.subheading {
    opacity: 0.8;
}

.bg-7 {
    background-color: $color-7 !important;
    color: $color-1;
}

.loading-img {
    animation: moveUpDown 3s ease-in-out infinite;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@keyframes moveUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}