@import "../theme-variable.scss";

.expense-overview{


    .expense-header{

        .expense-search{
            background-color: $color-7;
            padding:  20px;
            border-radius: 15px;
        }
        input{
            width: 100%;
            background-color: $color-7;
            outline: none;
            border: none;
            color: $color-1;
        }

        a{
            background-color: $color-7;
            color: $color-1;
            height: 100%;
            display: block;
            border-radius: 15px;
            padding: 20px;
            margin-left: 20px;
            display: flex;
            align-items: center;

            svg{
                height: 24px;
                width: 24px;
            }
        }
    }
}