@import "../theme-variable.scss";

.expense-data{
    background-color: $color-7;
    padding:  20px;
    border-radius: 15px;

    .card{
        border: none;
    }

    .expense-table{
        select{
            background-color: $color-7;
            color: $color-1;
            width: auto;
            border-color: #ccc;
        }
        table{
            width: 100%;
            overflow-y: scroll;
        }
        th{
            padding: 20px 10px;
        }
        td{
            padding: 10px;
            color:#ccc;
            // text-align: center;
        }
    }
}