@import "../theme-variable.scss";

.expense-data{
    background-color: $color-7;
    padding:  20px;
    border-radius: 15px;
    position: relative;

    .card{
        border: none;
    }

    .menu{
        select{
            background-color: $color-7;
            color: $color-1;
            width: auto;
            border-color: #ccc;
        }
        button{
            background-color: $color-3;
            color: $color-1;
            border: none;
        }
    }

    .expense-table{
        
        table{
            width: 100%;
            overflow-y: scroll;
        }
        th{
            padding: 20px 10px;
        }
        td{
            padding: 10px;
            color:#ccc;
            // text-align: center;
        }
    }

    .expense-pagination{
        position: absolute;
        bottom: 10%;
        .page-item{
            &.active{
                .page-link{
                    background-color: $color-6;
                    box-shadow: none;
                    border-color: $color-6;
                }
            }

            &.disabled{
                .page-link{
                    background-color: $color-5;
                    color: #ccc;
                }
            }
        }
        .page-link{
            background-color: transparent;
            color: $color-1;
        }
    }
}