@import "../theme-variable.scss";
.sidebar{
    background-color: $color-7;
    border-radius: 8px;

    .sidebar-item{
        padding: 16px 0px;

        &:hover{
            color: $color-6;
        }

        &#active{
            color: $color-6;
            border-left: 3px solid $color-6; 
        }
        .sidebar-icon{
            
            svg{
                height: 20px ;
                width: 20px ;
            }
        }
        
    }

    .sidebar-list.mobile{
        .content-wrapper{
            margin-top: 0 !important;
        }
        .sidebar-icon{
            svg{
                height: 24px !important;
                width: 24px !important;
            }
        }
        .sidebar-item{
            width: 20%;
        }
    }
}

@media (max-width:991px){
    .sidebar{
        position: fixed;
        bottom: -3px;
        left: 0;
        z-index: 1;
        width: 100%;
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        -webkit-box-shadow: 0px -15px 10px -15px #111;
	-moz-box-shadow: 0px -15px 10px -15px #111;
    box-shadow: 0px -15px 10px -15px #111;   
    
    .content-wrapper{
        width: 100%;
        margin-top: 0 !important;
    }
    }

   

    .sidebar-list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 14px 0;
    }

    .sidebar-item{
        padding: 0 !important;
        &#active{
            color: $color-6;
            border-left: none !important;
            // border-bottom: 3px solid $color-6; 
        }
    }
}