@import "../theme-variable.scss";

.signup{
    // position: absolute;
    // height: 100%;
    // width: 100%;

    .group-input{
        background-color: #323645;
        padding: 6px 14px;
        border-radius: 15px;
        
        &:has(input:focus){
            border: 2px solid $color-6;

        }
    }
    label{
        font-size: 12px;
    }
    input{
        background-color: transparent;
        border: none;
        padding: 0;
        color: $color-1 !important;
        font-size: 20px;

        &:focus{
            background-color: transparent;
            border-color: transparent;
            box-shadow: none;
        }
    }

    .text-content{
        margin-bottom: 50px;
    }
    
}