@import '../theme-variable.scss';

.daterange {
    position: relative;

    .button {
        position: absolute;
        inset: 0;
    }

    .dropdown {
        position: absolute;
        z-index: 2
    }

    .offset {
        position: fixed;
        inset: 0;
        z-index: -1;
    }

    .rdrDateRangePickerWrapper {
        color: $color-1 !important;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 8px;

        .rdrDefinedRangesWrapper {
            background: $color-7;
            border-color: rgba(255, 255, 255, 0.1);
        }

        .rdrStaticRange {
            background: $color-7;
            color: $color-1;
            border-color: rgba(255, 255, 255, 0.1);

            &:hover {
                span {
                    background: $color-5;
                }
            }
        }

        .rdrCalendarWrapper {
            background: $color-7;
            color: $color-1;

            .rdrDay.rdrDayPassive span {
                color: rgba(255, 255, 255, 0.3) !important
            }

            .rdrDayNumber span {
                color: $color-1
            }
        }

        .rdrDateDisplayWrapper {
            background-color: $color-5;

            .rdrDateDisplayItem {
                background-color: $color-7;

                input {

                    color: $color-1;
                }
            }
        }

        .rdrMonthAndYearPickers select {
            color: $color-1;
        }

        .rdrNextPrevButton {
            background: $color-5;

            &.rdrPprevButton i {
                border-color: transparent $color-1 transparent transparent;
            }

            &.rdrNextButton i {
                border-color: transparent transparent transparent $color-1;
            }
        }
    }
}